grpcio==1.44.0
google-cloud==0.34.0
google-cloud-vision==2.7.2
numpy==1.22.3
Pillow==9.1.0
tensorflow==2.8.0
torch==1.11.0
opencv-python==4.5.5.64
pandas==1.4.2
tqdm==4.64.0
torchvision==0.12.0
matplotlib==3.5.1
seaborn==0.11.2