tensorflow==2.10.0
google-cloud-vision==2.7.2
seaborn==0.12.0
opencv-python==4.6.0.66
torchvision==0.13.1
tqdm==4.64.1
grpcio-tools==1.49.1
charset-normalizer==2.1.1
requests==2.28.1
scipy==1.9.1
psutil==5.9.2

#IMPORTANT! Downgrade protobuf

protobuf==3.19.0